@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-weight: 400;
  background-color: #fff;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styles for buttons */

.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
  border: 2px solid #ffe8cc;
  background-color: #ffe8cc;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}

.btn:not([disabled]):hover {
  background-color: #ffa94d;
}

.btn[disabled]:hover {
  cursor: not-allowed;
}

/* Question-homepage */

.intro-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}

.intro-page h1,
.intro-page p,
.intro-page h3 {
  text-align: center;
}

.intro-page h1 {
  font-size: 3rem;
}

.intro-page p {
  font-size: 1.5rem;
  font-style: italic;
}

.intro-page h3 {
  font-size: 2rem;
  font-style: italic;
}

.languages-box {
  margin-top: 5rem;
}

.languages-box h4 {
  font-size: 1.5rem;
}

.picture-box {
  background-color: #f0f0f0;
  padding: 1rem;
  border: 1px solid #ccc;
  text-align: center;
}

.intropic-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.intropage-img {
  width: 8rem;
  height: auto;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

/* Header */

.header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-img {
  width: 6rem;
  height: 6rem;
}

.timer {
  font-size: 1.8rem;
  color: #000;
  border: 2px solid #ffa94d;
  padding: 1.35rem 2.8rem;
  border-radius: 100px;
}

/* Progress bar */
.progress {
  margin-bottom: 4rem;
  display: grid;
  justify-content: space-between;
  gap: 1.2rem;
  grid-template-columns: auto auto;
  font-size: 1.8rem;
  color: #ffa94d;
}

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: #ffe8cc;
  border-radius: 1rem;
}

::-webkit-progress-value {
  background-color: #ffa94d;
  border-radius: 1rem;
}

/* Options */
.options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.btn-option {
  text-align: start;
}

.btn-option:not([disabled]):hover {
  transform: translateX(1.2rem);
}

.answer {
  transform: translateX(2rem);
  background-color: #ffa94d;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option-img {
  width: 1rem;
  height: 1rem;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Results */
.result {
  background-color: #ffa94d;
  color: #fff;
  border-radius: 10rem;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.result span {
  font-size: 2.2rem;
  margin-right: 4px;
}

.highscore {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
